@font-face {
  font-family: "GoogleRaleway";
  src: url("/assets/fonts/Raleway font/Raleway-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "GoogleCursive";
  src: url("/assets/fonts/Raleway font/Raleway-Italic-VariableFont_wght.ttf")
    format("truetype");
}

body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #c8b7b7;
}

::-webkit-scrollbar-thumb {
  background: #221e1e;
}

::-webkit-scrollbar-thumb:hover {
  background: #3d3333;
}
